{
  "folder_id": "folder_id",
  "zone": "zone",
  "subnet_id": "subnet_id",
  "service_account_key_file": "key-packer.json.example",
  "use_ipv4_nat": "true",
  "source_image_family": "ubuntu-1604-lts",
  "image_family": "reddit-base",
  "ssh_username": "ubuntu",
  "platform_id": "standard-v1"
}
