variable "service_account_key_file" {
  type = string
  default = "key-packer.json"
}

variable "folder_id" {
  type = string
  default = "id"
}

variable "zone" {
  type = string
  default = "ru-central1-b"
}

variable "subnet_id" {
  type = string
  default = "subnet_id"
}

variable "use_ipv4_nat" {
  type = string
  default = "true"
}

variable "source_image_family" {
  type = string
  default = "ubuntu-1604-lts"
}

variable "image_family" {
  type = string
  default = "reddit-base"
}

variable "ssh_username" {
  type = string
  default = "ubuntu"
}

variable "platform_id" {
  type = string
  default = "standard-v1"
}

locals {
  image_name = "reddit-base-${formatdate("MM-DD-YYYY", timestamp())}"
}
