cloud_id  = ""
folder_id = "b1g3v5m91gs0aigtbmgm"
zone      = "ru-central1-a"
image_id  = "fd879gcpkh3du0mkg78h"
#app_disk_image = "reddit-app-base"
#db_disk_image  = "reddit-db-base"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
app_disk_image   = "fd8cjp39j7jinfho2q4k"
db_disk_image    = "fd81uq6hh1j7cti40bo9"
env              = "stage"
provision        =  "true"
